#
# See https://github.com/kubernetes/charts/tree/master/stable/prometheus/templates
#
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: {{ vars["namespace"] }}
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      ## How frequently to scrape targets by default
      ##
      scrape_interval: {{ vars['prometheus']['scrapeInterval'] }}
      ## How long until a scrape request times out
      ##
      scrape_timeout: 10s
      ## How frequently to evaluate rules
      ##
      evaluation_interval: 1m

    rule_files:
      - "/etc/prometheus-rules/*.rules"

    scrape_configs:
      # scrape configuration for prometheus itself.
      - job_name: prometheus
        static_configs:
          - targets:
            - localhost:9090

      # scrape configuration for node-exporter (daemonset running on each
      # node on host network port 9100)
      - job_name: node-exporter
        kubernetes_sd_configs:
        - role: node
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        # rewrite label set before scraping (allowing us to use prometheus
        # kubernetes node role, which picks up kubelet http endpoints, to
        # have it replaced with the node-exporter port (9100) before we scrape).
        relabel_configs:
        # save all labels picked up from the node as metric labels
        - action: labelmap
          regex: __meta_kubernetes_node_label_(.+)
        # set the address of the scrape target to that of node-exporter (9100)
        # (the prometheus kubernetes node role discovers all cluster kubelet
        # http ports)
        - action: replace
          source_labels: [__address__]
          regex: '(.*):10250'
          replacement: '${1}:9100'
          target_label: __address__
        # use node hostname as vale of scrape target instance
        - action: replace
          source_labels: [__meta_kubernetes_node_label_kubernetes_io_hostname]
          target_label: __instance__
        # set "name" value to "job"
        - action: replace
          source_labels: [job]
          regex: 'kubernetes-(.*)'
          replacement: '${1}'
          target_label: name

      # scrape configuration for kube-state-metrics.
      - job_name: kube-state-metrics
        kubernetes_sd_configs:
        - role: endpoints
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        # filter out endpoints such that we only keep the http endpoint for the kube-state-metrics endpoint(s).
        relabel_configs:
          - action: keep
            source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]            
            regex: {{ vars["namespace"] }};kube-state-metrics;http
          
      # A scrape configuration for running Prometheus on a Kubernetes cluster.
      # This uses separate scrape configs for cluster components (i.e. API server, node)
      # and services to allow each to use different authentication configs.
      #
      # Kubernetes labels will be added as Prometheus labels on metrics via the
      # `labelmap` relabeling action.

      # Scrape config for API servers.
      #
      # Kubernetes exposes API servers as endpoints to the default/kubernetes
      # service so this uses `endpoints` role and uses relabelling to only keep
      # the endpoints associated with the default/kubernetes service using the
      # default named port `https`. This works for single API server deployments as
      # well as HA API server deployments.
      # - job_name: 'kubernetes-apiservers'

      #   kubernetes_sd_configs:
      #     - role: endpoints

      #   # Default to scraping over https. If required, just disable this or change to
      #   # `http`.
      #   scheme: https

      #   # This TLS & bearer token file config is used to connect to the actual scrape
      #   # endpoints for cluster components. This is separate to discovery auth
      #   # configuration because discovery & scraping are two separate concerns in
      #   # Prometheus. The discovery auth config is automatic if Prometheus runs inside
      #   # the cluster. Otherwise, more config options have to be provided within the
      #   # <kubernetes_sd_config>.
      #   tls_config:
      #     ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      #     # If your node certificates are self-signed or use a different CA to the
      #     # master CA, then disable certificate verification below. Note that
      #     # certificate verification is an integral part of a secure infrastructure
      #     # so this should only be disabled in a controlled environment. You can
      #     # disable certificate verification by uncommenting the line below.
      #     #
      #     insecure_skip_verify: true
      #   bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token

      #   # Keep only the default/kubernetes service endpoints for the https port. This
      #   # will add targets for each API server which Kubernetes adds an endpoint to
      #   # the default/kubernetes service.
      #   relabel_configs:
      #     - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
      #       action: keep
      #       regex: default;kubernetes;https

      # - job_name: 'kubernetes-nodes'

      #   # Default to scraping over https. If required, just disable this or change to
      #   # `http`.
      #   scheme: https

      #   # This TLS & bearer token file config is used to connect to the actual scrape
      #   # endpoints for cluster components. This is separate to discovery auth
      #   # configuration because discovery & scraping are two separate concerns in
      #   # Prometheus. The discovery auth config is automatic if Prometheus runs inside
      #   # the cluster. Otherwise, more config options have to be provided within the
      #   # <kubernetes_sd_config>.
      #   tls_config:
      #     ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      #     # If your node certificates are self-signed or use a different CA to the
      #     # master CA, then disable certificate verification below. Note that
      #     # certificate verification is an integral part of a secure infrastructure
      #     # so this should only be disabled in a controlled environment. You can
      #     # disable certificate verification by uncommenting the line below.
      #     #
      #     insecure_skip_verify: true
      #   bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token

      #   kubernetes_sd_configs:
      #     - role: node

      #   relabel_configs:
      #     - action: labelmap
      #       regex: __meta_kubernetes_node_label_(.+)
      #     - target_label: __address__
      #       replacement: kubernetes.default.svc:443
      #     - source_labels: [__meta_kubernetes_node_name]
      #       regex: (.+)
      #       target_label: __metrics_path__
      #       replacement: /api/v1/nodes/${1}/proxy/metrics


      # - job_name: 'kubernetes-nodes-cadvisor'

      #   # Default to scraping over https. If required, just disable this or change to
      #   # `http`.
      #   scheme: https

      #   # This TLS & bearer token file config is used to connect to the actual scrape
      #   # endpoints for cluster components. This is separate to discovery auth
      #   # configuration because discovery & scraping are two separate concerns in
      #   # Prometheus. The discovery auth config is automatic if Prometheus runs inside
      #   # the cluster. Otherwise, more config options have to be provided within the
      #   # <kubernetes_sd_config>.
      #   tls_config:
      #     ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      #     # If your node certificates are self-signed or use a different CA to the
      #     # master CA, then disable certificate verification below. Note that
      #     # certificate verification is an integral part of a secure infrastructure
      #     # so this should only be disabled in a controlled environment. You can
      #     # disable certificate verification by uncommenting the line below.
      #     #
      #     insecure_skip_verify: true
      #   bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token

      #   kubernetes_sd_configs:
      #     - role: node

      #   # This configuration will work only on kubelet 1.7.3+
      #   # As the scrape endpoints for cAdvisor have changed
      #   # if you are using older version you need to change the replacement to
      #   # replacement: /api/v1/nodes/${1}:4194/proxy/metrics
      #   # more info here https://github.com/coreos/prometheus-operator/issues/633
      #   relabel_configs:
      #     - action: labelmap
      #       regex: __meta_kubernetes_node_label_(.+)
      #     - target_label: __address__
      #       replacement: kubernetes.default.svc:443
      #     - source_labels: [__meta_kubernetes_node_name]
      #       regex: (.+)
      #       target_label: __metrics_path__
      #       replacement: /api/v1/nodes/${1}/proxy/metrics/cadvisor

      # Scrape config for service endpoints for services with a `prometheus.io/scrape`
      # annotation.
      #
      # The relabeling allows the actual service scrape endpoint to be configured
      # via the following annotations:
      #
      # * `prometheus.io/scrape`: Only scrape services that have a value of `true`
      # * `prometheus.io/scheme`: If the metrics endpoint is secured then you will need
      # to set this to `https` & most likely set the `tls_config` of the scrape config.
      # * `prometheus.io/path`: If the metrics path is not `/metrics` override this.
      # * `prometheus.io/port`: If the metrics are exposed on a different port to the
      # service then set this appropriately.
      - job_name: 'kubernetes-service-endpoints'
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scheme]
            action: replace
            target_label: __scheme__
            regex: (https?)
          - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)
          - source_labels: [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]
            action: replace
            target_label: __address__
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
          - action: labelmap
            regex: __meta_kubernetes_service_label_(.+)
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: kubernetes_namespace
          - source_labels: [__meta_kubernetes_service_name]
            action: replace
            target_label: kubernetes_name

      # Example scrape config for probing services via the Blackbox Exporter.
      #
      # The relabeling allows the actual service scrape endpoint to be configured
      # via the following annotations:
      #
      # * `prometheus.io/probe`: Only probe services that have a value of `true`
      # - job_name: 'kubernetes-services'

      #   metrics_path: /probe
      #   params:
      #     module: [http_2xx]

      #   kubernetes_sd_configs:
      #     - role: service

      #   relabel_configs:
      #     - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_probe]
      #       action: keep
      #       regex: true
      #     - source_labels: [__address__]
      #       target_label: __param_target
      #     - target_label: __address__
      #       replacement: blackbox
      #     - source_labels: [__param_target]
      #       target_label: instance
      #     - action: labelmap
      #       regex: __meta_kubernetes_service_label_(.+)
      #     - source_labels: [__meta_kubernetes_namespace]
      #       target_label: kubernetes_namespace
      #     - source_labels: [__meta_kubernetes_service_name]
      #       target_label: kubernetes_name

      # Example scrape config for pods
      #
      # The relabeling allows the actual pod scrape endpoint to be configured via the
      # following annotations:
      #
      # * `prometheus.io/scrape`: Only scrape pods that have a value of `true`
      # * `prometheus.io/path`: If the metrics path is not `/metrics` override this.
      # * `prometheus.io/port`: Scrape the pod on the indicated port instead of the default of `9102`.
      # - job_name: 'kubernetes-pods'

      #   kubernetes_sd_configs:
      #     - role: pod

      #   relabel_configs:
      #     - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
      #       action: keep
      #       regex: true
      #     - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
      #       action: replace
      #       target_label: __metrics_path__
      #       regex: (.+)
      #     - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
      #       action: replace
      #       regex: ([^:]+)(?::\d+)?;(\d+)
      #       replacement: $1:$2
      #       target_label: __address__
      #     - action: labelmap
      #       regex: __meta_kubernetes_pod_label_(.+)
      #     - source_labels: [__meta_kubernetes_namespace]
      #       action: replace
      #       target_label: kubernetes_namespace
      #     - source_labels: [__meta_kubernetes_pod_name]
      #       action: replace
      #       target_label: kubernetes_pod_name
